<div class="form-group d-none">
  <button type="button"  class="btn btn-link">
    <svg class="icon" data-name="icon - filter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.017 11.871">
      <path id="Path_74" data-name="Path 74"
        d="M13.016,22.82H0l4.849,5.109v6.762l3.318-1.716V27.929ZM5.343,33.878V27.732L1.151,23.314H11.865L7.673,27.732v4.942Z"
        transform="translate(0 -22.82)" /> </svg>

    Filter

  </button>
</div>

<div class="form-group col-md-2">
  <label for="inputCity">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 11.408 12.414">
      <g data-name="icon - sort" transform="translate(0 12.414) rotate(-90)">
        <g data-name="Group 294" transform="translate(0 0)">
          <g data-name="Group 293">
            <path data-name="Path 72"
              d="M9.035,5.431l.547.547L12.3,3.262a.388.388,0,0,0,0-.547L9.582,0,9.035.551,11.091,2.6H0v.776H11.091Z"
              transform="translate(0)" />
            <path data-name="Path 73"
              d="M12.414,2.6H1.323L3.379.551,2.828,0,.113,2.715a.388.388,0,0,0,0,.547L2.828,5.978l.547-.547L1.323,3.379H12.414Z"
              transform="translate(0 5.431)" />
          </g>
        </g>
      </g>
    </svg>

    Sort

  </label>
  <select class="form-control">
    <!-- <option *ngFor="let item of list" [value]="item">{{item}}</option> -->
    <option selected="selected" [value]="'Title'">Title </option>
    <option [value]="'Auther'">Auther </option>
  </select>
</div>

<div class="form-group col-md-1">
  <label for="inputState">

    List</label>
  <select class="form-control">
    <!-- <option *ngFor="let item of list" [value]="item">{{item}}</option> -->
    <option selected="selected" [value]="'item'"> 12</option>
    <option [value]="'item'"> 24</option>
  </select>
</div>
<!-- <div class="form-group col-md-3  d-flex align-items-end">
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
        <path data-name="Path 7"
          d="M12.817,0H.5V15h15V2.628ZM11.437.612V4.9h-7.5V.612ZM3.312,14.388V8.571h9.062v5.816Zm11.563,0H13V7.959H2.687v6.429H1.125V.612H3.312v4.9h8.75V.612h.5l2.317,2.27Z"
          transform="translate(-0.5)" fill="#666" />
        <path data-name="Path 8" d="M12.863,31.727h2.544a.363.363,0,1,0,0-.727H12.863a.363.363,0,1,0,0,.727Z"
          transform="translate(-8.891 -21.586)" fill="#666" />
        <path data-name="Path 9" d="M16.5,35H12.863a.363.363,0,1,0,0,.727H16.5a.363.363,0,0,0,0-.727Z"
          transform="translate(-8.954 -24.371)" fill="#666" />
        <path data-name="Path 10"
          d="M25.605,35.113a.369.369,0,0,0,0,.516.374.374,0,0,0,.258.105.364.364,0,1,0-.258-.621Z"
          transform="translate(-17.743 -24.379)" fill="#666" />
        <path data-name="Path 11" d="M29.681,4H27.5V7.634h2.181Zm-.727,2.907h-.727V4.727h.727Z"
          transform="translate(-19.259 -2.546)" fill="#666" /> </svg>
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div> -->
<div class="form-group col-md-3 d-none">
  <button type="button">

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon"
      viewBox="0 0 14 13.125">
      <defs>
        <clipPath id="clip-path">
          <rect width="14" height="13.125" fill="none" />
        </clipPath>
      </defs>
      <g data-name="Icon - Grid" clip-path="url(#clip-path)">
        <g transform="translate(-529 -225)">
          <rect data-name="Rectangle 78" width="6" height="6" transform="translate(529 225)" fill="#333" />
        </g>
        <g transform="translate(-521 -225)">
          <rect data-name="Rectangle 78" width="6" height="6" transform="translate(529 225)" fill="#333" />
        </g>
        <g transform="translate(-529 -217)">
          <rect data-name="Rectangle 78" width="6" height="6" transform="translate(529 225)" fill="#333" />
        </g>
        <g transform="translate(-521 -217)">
          <rect data-name="Rectangle 78" width="6" height="6" transform="translate(529 225)" fill="#333" />
        </g>
      </g>
    </svg>

  </button>
  <button type="button">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 14 13.611">
      <g data-name="Icon - List" transform="translate(0 1)">
        <line data-name="Line 2" x1="10.279" transform="translate(3.721)" fill="none" stroke="#333" stroke-width="2" />
        <line data-name="Line 5" x1="2.806" fill="none" stroke="#333" stroke-width="2" />
        <line data-name="Line 3" x1="10.279" transform="translate(3.721 5.805)" fill="none" stroke="#333"
          stroke-width="2" />
        <line data-name="Line 6" x1="2.806" transform="translate(0 5.805)" fill="none" stroke="#333" stroke-width="2" />
        <line data-name="Line 4" x1="10.279" transform="translate(3.721 11.611)" fill="none" stroke="#333"
          stroke-width="2" />
        <line data-name="Line 7" x1="2.806" transform="translate(0 11.611)" fill="none" stroke="#333"
          stroke-width="2" />
      </g>
    </svg>

  </button>
</div>
