<!-- <p-accordion>
  <p-accordionTab header="Header 1">
     Content 1
  </p-accordionTab>
  <p-accordionTab header="Header 2">
      Content 2
  </p-accordionTab>
  <p-accordionTab header="Header 3">
      Content 3
  </p-accordionTab>
</p-accordion> -->

<div class="category-header">
  <h5 class="">Title </h5>
</div>

<label class="controlRC">
    All
    <input type="{{isRadioButton?'radio':'checkbox'}}" name="radio" />
    <div class="controlRC_indicator"></div>
</label>
<label class="controlRC">
    controlRC
    <input type="{{isRadioButton?'radio':'checkbox'}}" name="radio" />
    <div class="controlRC_indicator"></div>
</label>
<!-- <label class="controlRC">
    Disabled & Not Checked
    <input type="{{isRadioButton?'radio':'checkbox'}}" name="radio2" disabled="disabled" />
    <div class="controlRC_indicator"></div>
</label>
<label class="controlRC">
    Disabled & checked
    <input type="{{isRadioButton?'radio':'checkbox'}}" name="radio2" disabled="disabled" checked="checked" />
    <div class="controlRC_indicator"></div>
</label> -->
