<div class="facet">

  <div class="facet-header">

    <p class="border-bottom d-flex facet-title mb-2">
      <span class="col is-active p-0 text">
        {{this.facetOption.eName}}
      </span>
      <span class="col text">
        Visual
      </span>
    </p>

    <span class="facet-collapseIcon is-collapsed">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 9.415 6.128">
        <path d="M4,0,0,3.925,4,8" transform="translate(0.714 4.714) rotate(-90)" fill="none" stroke-width="2" />
      </svg>

    </span>
  </div>

  <div class="facet-controls">
    <label class="controlRC" *ngIf="!isRadioButton">
      <span class="text">All</span>
      <span class="count float-right">{{this.totalOfAllItems}}</span>
      <input #selectAll type="checkbox" name="radio" value="ddddd" />
      <div class="controlRC_indicator"></div>
    </label>

    <ng-container *ngFor="let value of this.facetOption.values;let idx = index">
      <label class="controlRC" *ngIf="idx < maxShowing || this.showAll">
        <span class="text">{{value.facetValue}}</span>
        <span class="count float-right">{{value.totalItems}}</span>
        <input type="{{false?'radio':'checkbox'}}" name="radio" checked="checked" />
        <div class="controlRC_indicator"></div>
      </label>
    </ng-container>


  </div>

  <button *ngIf="this.facetOption.values.length > maxShowing " type="button" class="btn btn-link p-0 mb-4" (click)="this.showAll=!this.showAll">
    <span *ngIf="!this.showAll">Show More </span>
    <span *ngIf="this.showAll">Show Less </span>
  </button>

  <button type="button" class="btn btn-primary w-100">
      Apply
    </button>


</div>
