

   <label class="controlRC controlRC-radio d-block">
       First radio
           <input type="radio" name="radio" checked="checked" />
       <div class="controlRC_indicator"></div>
   </label>
   <label class="controlRC controlRC-radio">
       Second radio
           <input type="radio" name="radio" />
       <div class="controlRC_indicator"></div>
   </label>
   <label class="controlRC controlRC-radio">
       Disabled
           <input type="radio" name="radio2" disabled="disabled" />
       <div class="controlRC_indicator"></div>
   </label>
   <label class="controlRC controlRC-radio">
       Disabled & checked
           <input type="radio" name="radio2" disabled="disabled" checked="checked" />
       <div class="controlRC_indicator"></div>
   </label>
