.keyWords {
  padding: 0px;

  p {
    font-size: 14px;
    padding-bottom: 5px;
    margin-bottom: 0;
    color: #707070;
    margin-bottom: 19px;

    var {
      color: #FF6600;
      padding-right: 10px;
      font-weight: 900;
    }

    span {
      color: #FF6600;
      padding-right: 10px;
      font-weight: normal;
    }

    /*&:nth-child(2) {
        margin-bottom: 19px;
      }*/

  }
}
