<div class="container">
  <div class="row">
    <div class="col-12">
        <form (ngSubmit)="getFavoriteList()" #formEle="ngForm">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-12">
                    <label i18n="@@lblsearch" for="bookName"> Search </label>
                    <input type="text"
                           class="Favorite-Search-input"
                           i18n-placeholder="@@lblsearch"
                           name="searchName"
                           id="bookName"
                           placeholder="Search"
                           ngModel/>
                </div>
                <div class="col-md-2 col-sm-3 col-6">
                    <label i18n="@@lbldateFrom" for="dateFrom">DateFrom</label>
                    <div class="input-group">
                        <input class="form-control Favorite-Search-input"
                               placeholder="yyyy-mm-dd"
                               name="dateFrom"
                               ngbDatepicker
                               #from="ngbDatepicker"
                               ngModel>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar Favorite-Search-calenderBtn" (click)="from.toggle()" type="button">
                              <img class="img-fluid" src="./assets/images/11.png" alt="bookDetailsImage">
                          </button>
                        </div>
                      </div>
                </div>
                <div class="col-md-2 col-sm-3 col-6">
                    <label i18n="@@lbldateTo"  for="dateTo">DateTo</label>
                    <div class="input-group">
                        <input class="form-control
                               Favorite-Search-input"
                               placeholder="yyyy-mm-dd"
                               name="dateTo"
                               ngbDatepicker
                               #to="ngbDatepicker"
                               ngModel>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar Favorite-Search-calenderBtn" (click)="to.toggle()" type="button">
                              <img class="img-fluid" src="./assets/images/11.png" alt="bookDetailsImage">
                          </button>
                        </div>
                      </div>
                </div>
                <div class="col-md-2 col-sm-12 col-12">
                    <label for="dateTo"class="Favorite-Search-sendLabel"> Date To </label>
                    <button i18n="@@lblsearch" class="Favorite-Search-btn">Search</button>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>
