<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="addReview-title no-padding no-margin">Add Review</h2>
      <div class="addReview-rating">
        <img class="img-fluid" src="./assets/Branding/images/r2.png" alt="bookDetailsImage">
      </div>
      <form>
          <div class="addReview-comment">
              <textarea class="addReview-comment-area w-100 border-0" name="comment" id="commentReview"></textarea>
          </div>
          <button class="addReview-btn" type="submit">add Review</button>
      </form>
      
      
    </div>
  </div>
</div>